/* font-Manrope */
@font-face {
  font-family: "Manrope";
  src: url("../../assets/fonts/Manrope/Manrope-SemiBold.woff2") format("woff2"), url("../../assets/fonts/Manrope/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../../assets/fonts/Manrope/Manrope-Light.woff2") format("woff2"), url("../../assets/fonts/Manrope/Manrope-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../../assets/fonts/Manrope/Manrope-Medium.woff2") format("woff2"), url("../../assets/fonts/Manrope/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../../assets/fonts/Manrope/Manrope-Regular.woff2") format("woff2"), url("../../assets/fonts/Manrope/Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../../assets/fonts/Manrope/Manrope-ExtraLight.woff2") format("woff2"), url("../../assets/fonts/Manrope/Manrope-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../../assets/fonts/Manrope/Manrope-ExtraBold.woff2") format("woff2"), url("../../assets/fonts/Manrope/Manrope-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../../assets/fonts/Manrope/Manrope-Bold.woff2") format("woff2"), url("../../assets/fonts/Manrope/Manrope-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* font-Roboto */
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto/Roboto-BoldItalic.woff2") format("woff2"), url("../../assets/fonts/Roboto/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto/Roboto-BlackItalic.woff2") format("woff2"), url("../../assets/fonts/Roboto/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto/Roboto-Black.woff2") format("woff2"), url("../../assets/fonts/Roboto/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto/Roboto-Italic.woff2") format("woff2"), url("../../assets/fonts/Roboto/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto/Roboto-Light.woff2") format("woff2"), url("../../assets/fonts/Roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../../assets/fonts/Roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto/Roboto-MediumItalic.woff2") format("woff2"), url("../../assets/fonts/Roboto/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto/Roboto-LightItalic.woff2") format("woff2"), url("../../assets/fonts/Roboto/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto/Roboto-Thin.woff2") format("woff2"), url("../../assets/fonts/Roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../../assets/fonts/Roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto/Roboto-ThinItalic.woff2") format("woff2"), url("../../assets/fonts/Roboto/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url(" ../../assets/fonts/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  background-color: #06030F;
}

.wrapper {
  margin: 0 auto;
  width: 1260px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 19px;
}

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.navigation__menu--links {
  text-decoration: none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
}
.navigation__menu .user__acc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
.navigation__menu .user__acc a {
  display: inline-block;
}
.navigation__menu .user__acc--name {
  margin: 0;
  text-decoration: none;
  color: white;
}
.navigation__menu .user__acc--photo {
  width: 34px;
  height: 34px;
}